* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: Arial;
    height: 100vh;
    background: linear-gradient(#358675 0% 25%, #d2d4c9 25% 100%);
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #eaeaea;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(165,165,177, .5);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #eaeaea;  /* creates padding around scroll thumb */
}

#root{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

/**GENERALI**/

/*header-left/right*/
#root>div>div:first-child{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
}

img{
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}

img:hover{
    cursor: pointer;
}

i:hover{
    cursor: pointer;
}

.text-max{
    font-size: 13px;
    font-weight: bold;
}

.text-min{
    font-size: 10px;
    color: #858988;
}

.text{
    font-size: 13px;
}
/**LEFT**/

.left{
    width: 35%;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: yellow;
}

.left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header-user{
    width: 45px;
    height: 45px;
    /* background-color: yellow; */
    border-radius: 50%;
    margin-left: 10px;
}

.left-header-icons{
    width: 110px;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-header-icons i{
    color: #b1b1b1;
}

.notifications{
    width: 100%;
    height: 50px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.not-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
}

.not-info{

}

.search{
    width: 100%;
    height: 40px;
    background-color: white;
}

.search>input{
    margin: 5px;
    width: calc( 100% - 10px);
    height: calc( 100% - 10px);
    font-family: Arial, 'Font Awesome 5 Free';
    color: black;
    border: none;
    border-radius: 15px;
    background-color: #eaeaea;
}

.search>input:focus{
    outline: none;
}

.d-none{
    display: none;
}

.contacts{
    width: 100%;
    height: calc(100% - 140px);
    background-color: white;
    overflow-y: scroll;
}

.contact{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.contact:hover{
    background-color: #e9ebea;
    cursor: pointer;
}

.active{
    background-color: rgba(165,165,177, .5)
}

.data{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}
/**RIGHT**/

.right{
    width: 65%;
    height: 100%;
    display: inline-block;
    float: left;
    /* background-color: orange; */
}

.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header-user{
    width: 250px;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
}

.friend-user{
    width: 45px;
    height: 45px;
    /* background-color: yellow; */
    border-radius: 50%;
    margin:  0 10px;
}

.right-header-icons{
    width: 110px;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-header-icons i{
    color: #b1b1b1;
}

.messages{
    width: 100%;
    height: calc(100% - 100px);
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    overflow-y: scroll;
}

.message{
    width: 100%;
    padding: 10px;
    /* background-color: red; */
}

.message::after{
        content: "";
        display: table;
        clear: both;
}

.message-style{
    max-width: 200px;
    min-width: 50px;
    padding: 15px 10px;
    position: relative;
    border-radius: 10px;
    display: inline-block;
}
.message-style i{
    display: none;
    font-size: 20px;
    color: gray;
    position: absolute;
    right: 4px;
    top:2px;
}

.message-style:hover i{
    display: inline-block;
}

.my-message{
    background-color: #d3f8bd;
    float: right;
}

.others-message{
    background-color: #fefffe;
    float: left;
}

.message span{
    position: absolute;
    bottom: 1px;
    right: 4px;
}

.dy-none{
    /* display: none; */
}

.message-info,
.delate-message{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.delate-message:hover{
    cursor: pointer;
}

.message-menu{
    width: 120px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    border-radius: 5px;
}

.my-message .message-menu{
    z-index: 1;
    right: 4px;
}

.others-message .message-menu{
    z-index: 1;
    right: -110px;
}

.write{
    width: 100%;
    height: 50px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.write>i{
    margin: 0 25px;
    color: #b1b1b1;
}

.write>input{
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 5px;
}

.write>input:focus{
    outline: none;
}
